@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.tableStats {
    margin: 40px auto;
    width: 80%;
}

.tableStats table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
    
}
td:first-child,
th:first-child {
    border-left: none;
}

.tableStats th,
.tableStats td {
    padding: 12px;
    text-align: center;
    border:rgba(0, 0, 0, 0.1);

}
.tableStats td{
            background-color: #cdcccc91;
}

.tableStats td:hover{
    background-color: #707070;
}


.tableStats th{
    background-color: #333;
        color: #fff;
}
.tableStats th:nth-child(1){
    background-color: #333;
    color: #fff;
        border-top-left-radius: 10px;
}
.tableStats th:nth-child(3) {
    background-color: #333;
    color: #fff;
    border-top-right-radius: 10px;
}
  
/* ----------------- ORPHAN HEADER CSS ---------------*/
.OrphanDonation {
  font-family: "Open Sans", sans-serif;
  background-color: #b3b3b3;
    background: linear-gradient(to right, #000000, #212121, #695b5b, #222222, #000000);
}

.headerOrphan {
  background-image: url("../assets/imdadul-hussain-YiA4wqVpLQQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  margin-bottom: 0;
}
.headerOrphan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.headerOrphan-text {
  flex: 1;
  padding: 100px;
}

.headerOrphan h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  font-weight: 700; 
  line-height: 90px;
  margin: -20px 0 90px;
}

.headerOrphan h2 {
  font-size: 20px;
  font-family: "montserrat",sans-serif;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 50px;
}

.headerOrphan p {
  font-weight: 400;
  font-family: "montserrat",sans-serif;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: 1px;
}
/* ----------------- END ORPHAN HEADER CSS ---------------*/

/* ----------------- DONATE FORM CSS -----------------*/
.donate-form {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    margin-top: 60px;
}

.donate-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.column {
    flex-basis: calc(50% - 10px);
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.donation-amount {
    margin-top: 10px;
}

.donation-amount label {
    display: inline-block;
    margin-right: 10px;
}

.custom-amount {
    display: inline-block;
    margin-left: 10px;
}

.checkbox-label {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 10px;
}

#creditCard {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style the donate button */
.orphanButton {
    background-color: #007bff;
    color: #fff;
    border: 1px #007bff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.orphanButton:focus {
    outline: none;
}

.orphanButton .circle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
/* ----------------- END DONATE FORM CSS -----------------*/

/*----------------- STATISTICS CSS -----------------*/
.impact-statistics {
    background-color: rgb(124, 124, 124);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px;
    flex-direction: column;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(74, 63, 63), rgb(116 91 91), rgb(74, 63, 63), rgb(0, 0, 0));}

.impact-statistics h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding-right: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat:hover {
  background-color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.281);
  cursor: pointer;
  transform: scale(1.05);
}

.stat-icon {
  font-size: 36px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
}

.stat-description {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.stat:nth-child(1) {
  background-color: #007bff;
  color: #fff;
}

.stat:nth-child(2) {
  background-color: #176e17;
  color: #fff;
}

.stat:nth-child(3) {
  background-color: #bd951c;
  color: #ffffff;
}

.stat:nth-child(4) {
  background-color: #9e1c29;
  color: #fff;
}

/*----------------- END STATISTICS CS -----------------S*/

/* -----------------CAROUSEL CSS -----------------*/ /* USING UDEMY COURSE */

.carousel-section {
  display: flex;
  align-items: center;
  height: 600px;
  background-color: rgb(154, 154, 154);
  color: rgb(0, 0, 0);
    background-color: #4d4141;}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-left: 30px;
  border-radius: 20px;
}
.img1,
.img3 {
  opacity: 0.85;
}

.img1,
.img2,
.img3,
.img4 {
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/*about section for the carousel section*/
.carousel-about {
  flex: 1;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #dedede;
}

.carousel-about h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

.carousel-about p {
  font-size: 18px;
  color: #433722;
  line-height: 1.5;
  font-family: "Poppins";
}
/*----------------- END CAROUSEL CSS -----------------*/
