@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.schoolDonation {
  font-family: "Open Sans", sans-serif;
  background-color: #b3b3b3;
}

.headerSchool {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #ffffff;
}

.headerSchool-text {
  flex: 1;
  padding: 40px;
}

.headerSchool-image {
  padding: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.headerSchool-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #ffffff;
}

.donate-form h2 {
  text-align: center;
}

.donate-form form {
  max-width: 600px;
  margin: 20px auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column {
  flex-basis: calc(50% - 10px);
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.schoolButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.schoolButton:hover {
  background-color: #0056b3;
}

.impact-statistics {
  margin-top: 30px;
  margin-top: 50px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.impact-statistics h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding-right: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat:hover {
  background-color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.281);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
}

.stat-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
}

.stat-description {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.stat:nth-child(1) {
  background-color: #007bff;
  color: #fff;
}

.stat:nth-child(2) {
  background-color: #28a745;
  color: #fff;
}

.stat:nth-child(3) {
  background-color: #ffc107;
  color: #ffffff;
}

.stat:nth-child(4) {
  background-color: #dc3545;
  color: #fff;
}

@media (max-width: 768px) {
  .impact-statistics {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    width: 100%;
    margin-bottom: 50px;
  }
}
