@import url("https://fonts.googleapis.com/css?family=Open+Sans&family=Montserrat&family=Playfair+Display&display=swap");

/* ----------School Donation Page Header CSS---------- */
.schoolDonation {
  font-family: "montserrat", sans-serif;
  /* background: linear-gradient(
    to right,
    #000000,
    #212121,
    #695b5b,
    #222222,
    #000000
  ); */
  background: linear-gradient(to right, rgb(220, 220, 220), rgb(198, 196, 196));

}

.headerSchool {
  /* background-image: url("../assets/school1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; */
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  margin-bottom: 0;
}

.headerSchool::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.headerSchool-text {
  font-family: "montserrat", sans-serif;
  flex: 1;
  padding: 100px;
}

.headerSchool h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  margin: -20px 0 20px;
}

.headerSchool h2 {
  font-family: "montserrat", sans-serif;
  margin-bottom: 50px;
  font-size: 36px;
}

.headerSchool p {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.headerSchool-image {
  padding: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.headerSchool-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}
/* ----------END SCHOOL DONATION PAGE HEADER CSS---------- */

/* ----------School Donation Page DONATE FORM CSS---------- */
.donate-form {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: 60px auto;
  max-width: 600px;
}

.donate-form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column {
  flex-basis: calc(50% - 10px);
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.donation-amount {
  margin-top: 10px;
}

.donation-amount label {
  display: inline-block;
  margin-right: 10px;
}

.custom-amount {
  display: inline-block;
  margin-left: 10px;
}

.checkbox-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
}

#creditCard {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.schoolButton {
  background-color: #007bff;
  color: #fff;
  border: 1px #007bff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 30px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.schoolButton:focus {
  outline: none;
}

.schoolButton .circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/* ----------END SCHOOL DONATION PAGE DONATE FORM CSS---------- */

/* ----------School Donation Page Impact Statistics CSS---------- */
.impact-statistics {
  background-color: rgb(130, 129, 129);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.impact-statistics h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  padding-right: 10px;

}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat:hover {
  background-color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.281);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
}

.stat-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
}

.stat-description {
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;

}

.stat:nth-child(1) {
  background-color: #007bff;
  color: #fff;
}

.stat:nth-child(2) {
  background-color: #189da1;
  color: #fff;
}

.stat:nth-child(3) {
  background-color: #6ea802;
  color: #ffffff;
}

.stat:nth-child(4) {
  background-color: #91006c;
  color: #fff;
}
/* ----------END SCHOOL DONATION PAGE IMPACT STATISTICS CSS---------- */

/* ----------School Donation Page Carousel CSS---------- */
.carousel-section {
  display: flex;
  align-items: center;
  height: 600px;
  /* background-color: grey; */
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(220, 219, 219), rgb(200, 199, 199));

}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-left: 30px;
  border-radius: 20px;
}
.img1,
.img3 {
  opacity: 0.85;
}

.img1,
.img2,
.img3,
.img4 {
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.carousel-about {
  flex: 1;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #dedede;
}

.carousel-about h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

.carousel-about p {
  font-size: 18px;
  color: #433722;
  line-height: 1.5;
  font-family: "Poppins";
}
/* ----------END SCHOOL DONATION PAGE CAROUSEL CSS---------- */

/* ----------School Donation Page Donation Info CSS---------- */
.wrapper {
  background: #dedede;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 520px;
  width: 500px;
  margin-left: 20px;
  margin-right: 30px;
  flex: 0.8;
}

.wrapper h1 {
  color: #333;
  margin-bottom: 20px;
}

.progress-bar-container {
  height: 50px;
  border: 1px solid #5c5c5c;
  background-color: #f8f8f8;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-bar {
  height: 100%;
  width: 68%;
  background-color: #176e17;
  text-align: right;
  line-height: 50px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  border-radius: 25px 0 0 25px;
  animation: progressBarAnimation 4s linear infinite;
  background: linear-gradient(
    90deg,
    #ff5733 0%,
    #ffcc29 20%,
    #35d0ba 40%,
    #007bff 60%,
    #91006c 80%,
    #ff5733 100%
  );
  background-size: 500% 100%;
  background-position: 100% 0;
}

@keyframes progressBarAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.donation-goal {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2em;
  color: #555;
}

.donation-info h2 {
  color: #444;
  border-bottom: 2px solid #6abc37;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.donation-info ul {
  list-style-type: none;
  padding: 0;
}

.donation-info li {
  margin-bottom: 10px;
  color: #666;
}
/* ----------END SCHOOL DONATION PAGE DONATION INFO CSS---------- */
