@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* ----------School Donation Page Header CSS---------- */
.schoolDonation {
  font-family: "Open Sans", sans-serif;
  background-color: #b3b3b3;
}

.headerSchool {
  background-image: url("../assets/school1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  margin-bottom: 0;
}

.headerSchool::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.headerSchool-text {
  flex: 1;
  padding: 100px;
}

.headerSchool h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.headerSchool h2 {
  margin-bottom: 50px;
}

.headerSchool p {
  font-size: 20px;
  letter-spacing: 1px;
}

.headerSchool-image {
  padding: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.headerSchool-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 20px;
}
/* ----------END SCHOOL DONATION PAGE HEADER CSS---------- */

/* ----------School Donation Page DONATE FORM CSS---------- */
.donate-form h2 {
  text-align: center;
}

.donate-form form {
  max-width: 600px;
  margin: 20px auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.column {
  flex-basis: calc(50% - 10px);
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.schoolButton {
  background-color: #007bff;
  color: #fff;
  border: 1px #007bff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.schoolButton:focus {
  outline: none;
}

.schoolButton .circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/* ----------END SCHOOL DONATION PAGE DONATE FORM CSS---------- */

/* ----------School Donation Page Impact Statistics CSS---------- */
.impact-statistics {
  background-color: rgb(124, 124, 124);
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
}

.impact-statistics h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  padding-right: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat:hover {
  background-color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.281);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
}

.stat-icon {
  font-size: 36px;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 24px;
  font-weight: bold;
}

.stat-description {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.stat:nth-child(1) {
  background-color: #007bff;
  color: #fff;
}

.stat:nth-child(2) {
  background-color: #176e17;
  color: #fff;
}

.stat:nth-child(3) {
  background-color: #bd951c;
  color: #ffffff;
}

.stat:nth-child(4) {
  background-color: #9e1c29;
  color: #fff;
}

@media (max-width: 768px) {
  .impact-statistics {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    width: 100%;
    margin-bottom: 50px;
  }
}
/* ----------END SCHOOL DONATION PAGE IMPACT STATISTICS CSS---------- */

/* ----------School Donation Page Carousel CSS---------- */
.carousel-section {
  display: flex;
  align-items: center;
  height: 600px;
  background-color: rgb(154, 154, 154);
  color: rgb(0, 0, 0);
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-left: 30px;
  border-radius: 20px;
}
.img1,
.img3 {
  opacity: 0.85;
}

.img1,
.img2,
.img3,
.img4 {
  width: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.carousel-about {
  flex: 1;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #dedede;
}

.carousel-about h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
}

.carousel-about p {
  font-size: 18px;
  color: #433722;
  line-height: 1.5;
  font-family: "Poppins";
}
/* ----------END SCHOOL DONATION PAGE CAROUSEL CSS---------- */
