@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgba(230, 229, 229, 0.994);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

#landingVideo{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.hero h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  margin: -20px 0 90px;
}

.hero h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px;
}

.hero p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}

.content1 {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content1 h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.content1 h1 {
  font-size: 39px;
  font-weight: 700px;
  font-family: "Playfair Display", sans-serif;
}

.content1-midsection .landingimg1 {
  height: 20rem;
  width: 20rem;
}

.landingimg1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content1-midsection2 .landingimg2 {
  height: 20rem;
  width: 20rem;
}

.landingimg2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/**** Auto Text Effect CSS (UDEMY)****/

.text input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  border: none;
  text-align: center;
}

.text div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

.text input:focus {
  outline: none;
}

.midCards {
  display: flex;
}

.content1-mission {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b);
  border-image-slice: 1;
  background: linear-gradient(to right, #ffffff, #dddddd);
  margin: 2rem;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content1-mission:hover {
  transform: scale(1.05);
}

.content1-midsection2 {
  position: relative;
  margin-left: 2rem;
}

.landingimg2 {
  position: absolute;
  right: -10vw;
  bottom: -14vh;
}

.landingimg1::before,
.landingimg2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 165, 0, 0.5);
  top: -5px;
  left: -5px;
}

.content1-mission .fa {
  color: royalblue;
}

.content1-mission .title {
  color: black;
  margin-left: 5px;
  font-family: "montserrat", sans-serif;
  letter-spacing: 3px;
  line-height: 20px;
}

.content1-mission p {
  line-height: 25px;
}


/* the testimonial section */

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: -30px;
}

.left-slide p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 3rem;
  line-height: 2rem;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}